html{
  background-image: url("city.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #254A00;
  max-width: 100%;
  max-height: 100%;

}
.center{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 750px;
  height: 300px;
  max-height: 100%;
  max-width: 100%;
}

h1 {
  text-align: center;
  color: white;
  font-size: 44px;
  font-weight: bolder;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  letter-spacing: 2px;
}

p{
  text-align: left;
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 14px;
}
section {
  margin: 0 auto;
  text-align: center;
  padding-top: 19%;
  width: 30%;
}

a:link{
  color: white;
  font-style: italic;
}
a:visited{
  color: #EBD699;
  font-style: italic;
}
a:hover{
  color: white;
  font-size: 18px;
}

.box {
  float:left;
  margin-right: 5.9%;
  margin-left: 5.5%;
  width: 16%;
  background: rgba(255,255,255,0.3);
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  background: #00297A;
  font-weight: bolder;
  margin: -35px;
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #00246B;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background-image: url("blue.jpg");
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 1000ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  box-shadow: 0px 0px 20px 14px rgba(23, 68, 124, 0.4);
  margin: 110px auto;
  padding: 20px;
  background-image: url("blue.jpg");
  border-radius: 5px;
  width: 43%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .close {
  margin: -12px;
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #E6E6E6;
}
.popup .close:hover {
  color: #00246B;
}
.popup .content {
  color: white;
  max-height: 30%;
  overflow: auto;
}
