body,

header {
  background-image: url("railroad.jpg");
}
h1 {
  margin-top: 25;
  color: blue;
}

section {
  float: left;
  margin: 0 1.5%;
  width: 63%;
}

aside {
  float: right;
  margin: 0 1.5%;
  width: 30%;
}
